*.iml
.gradle
.idea
.DS_Store
.kotlin
/build
/captures
*.apk
keystore
keystore.properties
/local.properties
app/*/release
app/upload_keystore
app/upload_keystore.properties

# Kover
**/kover.artifact
